<% content_for :content_class, 'table-wrap' %>
<% content_for :body_class, 'has-sidebar' %>
<div class="post-wrap self-clear content-bg">
  <div class="post-wrap-inner">
    <div class='post-header normal'>
        <p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

        <% form_tag sessions_path do %>
          <p>
            <%= label_tag :login, "Username or Email Address" %><br />
            <%= text_field_tag :login, params[:login] %>
          </p>
          <p>
            <%= label_tag :password %><br />
            <%= password_field_tag :password %>
          </p>
          <p><%= submit_tag "Log in" %></p>
          <br/>
          <%= render :partial => 'open_id' %>
        <% end %>
    </div>
  </div>
</div>
