<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
    <% if @user.identity_url %>
      &nbsp;( you don't need a username because you logged in using OpenId )      
    <% end %>
  </p>

  <% if !@user.identity_url %>
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  <% end %>
  <p><%= f.submit "Save" %></p>
<% end %>