<% form_for(@user, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <% if @user.avatar.file? %>
    <a class="profile_lightbox_links" href='<%= @user.avatar.url(:original) %>'>
      <%= image_tag @user.avatar.url(:small) %>
    </a>
  <% end %>
  <p>
    <%= f.label :avatar, "Profile Picture!" %><br />
    <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
    <% if @user.identity_url %>
      &nbsp;( you don't need a username because you logged in using OpenId )
    <% end %>
  </p>

  <% if !@user.identity_url %>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
      <% if editing %>
        &nbsp;( if you don't want to change your password leave these blank!!! )
      <% end %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  <% end %>
  <p><input id="edit_user_save" name="commit" type="button" value="Save"></p>
  <p id="progressText"></p>
  <div id="progressBar"></div>
<% end %>